@import url(./plugins/mCustomScrollbar.min.css);
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("/fonts/ProximaNova/ProximaNova-Regular.eot");
  src: url("/fonts/ProximaNova/ProximaNova-Regular.woff2") format("woff2"), url("/fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("/fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url("/fonts/ProximaNova/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg"), url("/fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("/fonts/ProximaNovaBold/ProximaNova-Bold.eot");
  src: url("/fonts/ProximaNovaBold/ProximaNova-Bold.woff2") format("woff2"), url("/fonts/ProximaNovaBold/ProximaNova-Bold.woff") format("woff"), url("/fonts/ProximaNovaBold/ProximaNova-Bold.ttf") format("truetype"), url("/fonts/ProximaNovaBold/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg"), url("/fonts/ProximaNovaBold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

.middle-wrapper {
  max-width: 1200px;
  margin: 0 auto; }

html {
  font-size: 10px;
  font-family: "ProximaNova-Regular"; }

.body {
  background-color: #111;
  margin: 0;
  overflow: hidden; }

.svg-blur {
  display: none; }

.scroll-block {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  left: -30px;
  right: -30px;
  top: 0;
  bottom: 0;
  padding: 0 30px;
  overflow: overlay; }

.slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  opacity: 0; }
  .slide_content {
    -webkit-transition: transform 0.85s cubic-bezier(0.38, 0.52, 0.32, 1);
    -moz-transition: transform 0.85s cubic-bezier(0.38, 0.52, 0.32, 1);
    transition: transform 0.85s cubic-bezier(0.38, 0.52, 0.32, 1);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  .slide_image {
    -webkit-transition: transform 0s linear 1s;
    -moz-transition: transform 0s linear 1s;
    transition: transform 0s linear 1s;
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%; }
  .slide_bg {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
    filter: url("blur.svg#blur"); }
  .slide_content {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-position: 50% 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    z-index: 0; }
  .slide_inner {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    border-width: 0 10px;
    border-style: solid;
    border-color: transparent;
    z-index: 2; }
  .slide_block {
    position: relative;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 10px;
    z-index: 3; }
  .slide_video {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    min-height: 100vh; }
    @media all and (max-width: 768px) {
      .slide_video {
        display: none; } }
  .slide-1 {
    height: 100%; }
  .slide-2 {
    height: 100%; }
  .slide-3 {
    height: 100%; }
  .slide-4 {
    height: 100%; }
  .slide-5 {
    height: 100%; }
  .slide-6 {
    height: 100%; }
  .slide-7 {
    height: 100%; }
  .slide-8 {
    height: 100%; }
  .slide-9 {
    height: 100%; }
  .slide-1 {
    background-color: #4d4d4d;
    text-align: center; }
    .slide-1_bg {
      background: -moz-linear-gradient(left, rgba(8, 80, 120, 0.6) 0%, rgba(133, 216, 206, 0.6) 100%);
      background: -webkit-linear-gradient(left, rgba(8, 80, 120, 0.6) 0%, rgba(133, 216, 206, 0.6) 100%);
      background: linear-gradient(to right, rgba(8, 80, 120, 0.6) 0%, rgba(133, 216, 206, 0.6) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#085078', endColorstr='#85d8ce',GradientType=1 );
      z-index: 1; }
    @media all and (max-width: 768px) {
      .slide-1 {
        background: url("/img/dummy.jpg") no-repeat 50% 50%/cover; } }
  .slide-2_content, .slide-2_bg {
    background-image: url("/img/slide-2.jpg"); }
  .slide-3_content, .slide-3_bg {
    background-image: url("/img/slide-3.jpg"); }
  .slide-4_content, .slide-4_bg {
    background-image: url("/img/slide-4.jpg"); }
  .slide-5_content, .slide-5_bg {
    background-image: url("/img/slide-5.jpg"); }
  .slide-6_content, .slide-6_bg {
    background-image: url("/img/slide-6.jpg"); }
  .slide-7_content, .slide-7_bg {
    background-image: url("/img/slide-7.jpg"); }
  .slide-8_content, .slide-8_bg {
    background-image: url("/img/slide-8.jpg"); }
  .slide-9_content, .slide-9_bg {
    background-image: url("/img/slide-9.jpg"); }
  .slide.current, .slide.prev-page {
    -webkit-transition: all 0.85s cubic-bezier(0.38, 0.52, 0.32, 1);
    -moz-transition: all 0.85s cubic-bezier(0.38, 0.52, 0.32, 1);
    transition: all 0.85s cubic-bezier(0.38, 0.52, 0.32, 1); }
  .slide.current {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
    .slide.current ~ .slide {
      opacity: 1; }
  .slide.current .slide_content,
  .slide.current ~ .slide .slide_content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .slide.current ~ .slide {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); }
  .slide.current .how-it-will_list-item {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
    .slide.current .how-it-will_list-item:nth-child(1) {
      -webkit-transition-delay: 0.4s;
      -moz-transition-delay: 0.4s;
      transition-delay: 0.4s; }
    .slide.current .how-it-will_list-item:nth-child(2) {
      -webkit-transition-delay: 1.4s;
      -moz-transition-delay: 1.4s;
      transition-delay: 1.4s; }
    .slide.current .how-it-will_list-item:nth-child(3) {
      -webkit-transition-delay: 2.4s;
      -moz-transition-delay: 2.4s;
      transition-delay: 2.4s; }
    .slide.current .how-it-will_list-item:nth-child(4) {
      -webkit-transition-delay: 3.4s;
      -moz-transition-delay: 3.4s;
      transition-delay: 3.4s; }
    .slide.current .how-it-will_list-item:nth-child(5) {
      -webkit-transition-delay: 4.4s;
      -moz-transition-delay: 4.4s;
      transition-delay: 4.4s; }
  .slide.current .slide-3 .slide_image,
  .slide.current .slide-4 .slide_image,
  .slide.current .slide-5 .slide_image,
  .slide.current .slide-6 .slide_image {
    -webkit-transition: transform 20s linear;
    -moz-transition: transform 20s linear;
    transition: transform 20s linear;
    -webkit-transform: translateX(-50%) scale(1.14);
    -moz-transform: translateX(-50%) scale(1.14);
    -ms-transform: translateX(-50%) scale(1.14);
    transform: translateX(-50%) scale(1.14); }

.logo {
  position: fixed;
  left: 50px;
  top: 50px;
  width: 160px;
  height: 27px;
  background: url("/img/logo.png") no-repeat; }

.more {
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: fixed;
  right: 50px;
  top: 40px;
  background-color: #fff;
  border: 0;
  margin: 0;
  padding: 17px 40px 15px;
  text-transform: uppercase;
  color: #3782b0;
  cursor: pointer;
  outline: none; }
  .more:hover {
    background-color: rgba(255, 255, 255, 0.9); }

.description {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.3;
  color: #fff;
  width: 100%;
  max-width: 900px;
  margin: 0 auto; }
  @media all and (max-width: 1100px) {
    .description {
      font-size: 26px;
      font-size: 2.6rem; } }
  @media all and (max-width: 720px) {
    .description {
      font-size: 20px;
      font-size: 2rem; } }
  @media all and (max-width: 540px) {
    .description {
      font-size: 18px;
      font-size: 1.8rem; } }

.offer {
  position: relative;
  height: 0; }
  .offer_inner {
    position: absolute;
    right: 40px;
    bottom: 30px;
    width: 270px;
    height: 207px;
    z-index: 3; }
    .offer_inner:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url("/img/offer-brush.png") no-repeat;
      background-position: 50% 50%; }
  .offer_wrapper {
    position: absolute;
    left: 50%;
    top: 0;
    width: 214px;
    height: 214px;
    margin-left: -107px;
    white-space: nowrap; }
  .offer_item {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0; }
    .offer_item:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      line-height: 100%; }
    .offer_item-inner {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      white-space: normal;
      text-align: center; }
    .offer_item.current {
      -webkit-transition: all .4s ease .4s;
      -moz-transition: all .4s ease .4s;
      transition: all .4s ease .4s;
      opacity: 1; }
  .offer_flag {
    margin: 0 0 16px;
    font-size: 0; }
  .offer_text {
    font-size: 12px;
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 30px;
    line-height: 1.5; }
  .offer_arrow {
    position: absolute;
    width: 11px;
    height: 23px;
    top: 50%;
    margin: -11px 0 0;
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
    background: url("/img/sprite.png") no-repeat;
    background-position: 0 -84px; }
    .offer_arrow.prev {
      left: 0; }
    .offer_arrow.next {
      right: 0;
      background-position: -12px -84px; }

.comment {
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  position: absolute;
  margin-left: -130px;
  bottom: 0;
  left: 50%;
  max-width: 770px;
  width: 90%;
  height: 82px;
  padding-top: 50px; }
  .comment:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    margin-left: -435px;
    width: 870px;
    background: url("/img/comment-brush.png") no-repeat; }
  .comment_photo {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 170px;
    text-align: center;
    font-size: 0; }
    @media all and (max-width: 460px) {
      .comment_photo {
        display: none; } }
  .comment_inner {
    position: relative;
    color: #fff;
    padding: 0 0 23px 170px; }
    @media all and (max-width: 460px) {
      .comment_inner {
        padding-left: 0; } }
  .comment_text {
    font-size: 16px;
    font-size: 1.6rem;
    margin: 0 0 3px;
    padding-right: 10px; }
    @media all and (max-width: 460px) {
      .comment_text {
        padding-left: 10px; } }
  .comment_author {
    font-size: 15px;
    font-size: 1.5rem;
    font-family: "ProximaNova-Bold";
    margin: 5px 0 0;
    padding-right: 10px;
    color: #80aec6; }
    @media all and (max-width: 460px) {
      .comment_author {
        padding-left: 10px; } }

.about {
  color: #fff;
  padding-top: 110px;
  max-width: 900px;
  margin: 0 auto; }
  @media all and (max-width: 600px) {
    .about {
      padding-top: 40px; } }
  .about_title {
    font-size: 48px;
    font-size: 4.8rem;
    font-family: "ProximaNova-Bold";
    margin: 0 0 40px;
    max-width: 900px; }
    @media all and (max-width: 1025px) {
      .about_title {
        font-size: 42px;
        font-size: 4.2rem; } }
    @media all and (max-width: 790px) {
      .about_title {
        font-size: 32px;
        font-size: 3.2rem; } }
    @media all and (max-width: 620px) {
      .about_title {
        font-size: 24px;
        font-size: 2.4rem;
        margin: 0 0 20px; } }
  .about_text-col {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 40px; }
    @media all and (max-width: 600px) {
      .about_text-col {
        margin-bottom: 20px; } }
  .about_text {
    font-size: 24px;
    font-size: 2.4rem; }
    @media all and (max-width: 1025px) {
      .about_text {
        font-size: 20px;
        font-size: 2rem; } }
    @media all and (max-width: 600px) {
      .about_text {
        font-size: 18px;
        font-size: 1.8rem; } }

.how-it-will {
  padding-top: 80px;
  color: #fff;
  max-width: 1100px;
  margin: 0 auto; }
  .how-it-will_title {
    font-size: 72px;
    font-size: 7.2rem;
    font-family: "ProximaNova-Bold";
    text-transform: uppercase;
    margin: 0 0 30px;
    text-align: center;
    white-space: nowrap; }
    @media all and (max-width: 600px) {
      .how-it-will_title {
        font-size: 60px;
        font-size: 6rem; } }
    @media all and (max-width: 500px) {
      .how-it-will_title {
        font-size: 40px;
        font-size: 4rem; } }
  .how-it-will_list {
    font-size: 24px;
    font-size: 2.4rem;
    position: relative;
    list-style: none;
    padding: 18px 0; }
    .how-it-will_list:after {
      display: block;
      content: '';
      clear: both; }
    @media all and (max-width: 920px) {
      .how-it-will_list {
        font-size: 20px;
        font-size: 2rem; } }
    @media all and (max-width: 600px) {
      .how-it-will_list {
        font-size: 16px;
        font-size: 1.6rem; } }
    @media all and (max-width: 400px) {
      .how-it-will_list {
        font-size: 14px;
        font-size: 1.4rem; } }
    .how-it-will_list-item {
      -webkit-transition: transform .6s ease-out .4s, opacity .6s ease-in .4s;
      -moz-transition: transform .6s ease-out .4s, opacity .6s ease-in .4s;
      transition: transform .6s ease-out .4s, opacity .6s ease-in .4s;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      width: 50%;
      white-space: nowrap;
      height: 58px;
      opacity: 0;
      margin-top: 2px; }
      .how-it-will_list-item:nth-child(3) p {
        width: 400px; }
      .how-it-will_list-item:nth-child(2n-1) {
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        transform: translateX(-100px);
        text-align: right;
        margin-right: 50%;
        padding-right: 40px; }
      .how-it-will_list-item:nth-child(2n) {
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        transform: translateX(100px);
        margin-left: 50%;
        padding-left: 40px; }
      .how-it-will_list-item:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        line-height: 100%; }
    .how-it-will_list-text {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      white-space: normal; }
    .how-it-will_list:before {
      content: url("/img/how-it-will.png");
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -11px;
      width: 22px;
      height: 326px; }

.com-form {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 0; }
  .com-form_info {
    font-size: 16px;
    font-size: 1.6rem;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    color: #ceeeff;
    white-space: nowrap; }
    @media all and (max-width: 460px) {
      .com-form_info {
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 1.4; } }
    .com-form_info a {
      color: #ceeeff;
      text-decoration: none; }
  .com-form_inner {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
    posiiton: relative;
    z-index: 1; }
  .com-form_request {
    position: relative; }
    .com-form_request-sended {
      -webkit-transition: all .3s ease-out .3s;
      -moz-transition: all .3s ease-out .3s;
      transition: all .3s ease-out .3s;
      -webkit-transform: translateX(-50%) scale(0.9);
      -moz-transform: translateX(-50%) scale(0.9);
      -ms-transform: translateX(-50%) scale(0.9);
      transform: translateX(-50%) scale(0.9);
      font-size: 24px;
      font-size: 2.4rem;
      position: absolute;
      width: 1100px;
      top: 0;
      bottom: 0;
      left: 50%;
      padding-top: 170px;
      color: #fff;
      text-align: center;
      line-height: 1.5;
      background: url("/img/brush.png") no-repeat 50% 26%;
      opacity: 0;
      z-index: -1; }
    .com-form_request.sended .com-form_inner {
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0;
      z-index: 0; }
    .com-form_request.sended .com-form_request-sended {
      -webkit-transform: translateX(-50%) scale(1);
      -moz-transform: translateX(-50%) scale(1);
      -ms-transform: translateX(-50%) scale(1);
      transform: translateX(-50%) scale(1);
      opacity: 1;
      z-index: 1; }
  .com-form_subscribe-form {
    position: relative; }
    .com-form_subscribe-form-sended {
      -webkit-transition: all .3s ease-out .3s;
      -moz-transition: all .3s ease-out .3s;
      transition: all .3s ease-out .3s;
      -webkit-transform: translateX(-50%) scale(0.9);
      -moz-transform: translateX(-50%) scale(0.9);
      -ms-transform: translateX(-50%) scale(0.9);
      transform: translateX(-50%) scale(0.9);
      font-size: 24px;
      font-size: 2.4rem;
      position: absolute;
      width: 1100px;
      top: 0;
      bottom: 0;
      left: 50%;
      color: #fff;
      padding-top: 12px;
      text-align: center;
      line-height: 1.5;
      opacity: 0;
      z-index: -1; }
    .com-form_subscribe-form.sended .com-form_inner {
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0;
      z-index: 0; }
    .com-form_subscribe-form.sended .com-form_subscribe-form-sended {
      -webkit-transform: translateX(-50%) scale(1);
      -moz-transform: translateX(-50%) scale(1);
      -ms-transform: translateX(-50%) scale(1);
      transform: translateX(-50%) scale(1);
      opacity: 1;
      z-index: 1; }
  .com-form_main-title {
    font-size: 72px;
    font-size: 7.2rem;
    text-transform: uppercase;
    color: #fff;
    font-family: "ProximaNova-Bold";
    margin: 0 0 30px;
    line-height: 1;
    white-space: nowrap; }
    @media all and (max-width: 390px) {
      .com-form_main-title {
        font-size: 80px;
        font-size: 8rem;
        text-align: center; } }
  .com-form_interest-list {
    list-style: none;
    margin: -10px;
    padding: 0; }
    .com-form_interest-list:after {
      display: block;
      content: '';
      clear: both; }
    @media all and (max-width: 460px) {
      .com-form_interest-list {
        width: 70%; } }
    .com-form_interest-list-item {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      padding: 10px;
      float: left; }
      @media all and (max-width: 360px) {
        .com-form_interest-list-item {
          width: 50%;
          text-align: center; } }
  .com-form_interest-checkbox {
    display: none; }
  .com-form_interest-label {
    font-size: 19px;
    font-size: 1.9rem;
    display: inline-block;
    position: relative;
    width: 82px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-family: "ProximaNova-Bold";
    padding: 13px 0;
    line-height: 1;
    cursor: pointer;
    z-index: 0; }
    .com-form_interest-label:before {
      content: none;
      position: absolute;
      top: -18px;
      left: -3px;
      width: 85px;
      height: 78px;
      background: url("/img/sprite.png") no-repeat;
      background-position: -34px 0;
      z-index: -1; }
  .com-form_interest-label:hover {
    border-color: #3782b0;
    background-color: #3782b0; }
  .com-form_interest-checkbox:checked + .com-form_interest-label {
    border-color: transparent !important;
    background-color: transparent !important; }
    .com-form_interest-checkbox:checked + .com-form_interest-label:before {
      content: ''; }
  .com-form_line {
    position: relative;
    margin-top: 30px; }
  .com-form_text-input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 19px;
    font-size: 1.9rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding: 16px 0;
    width: 100%;
    border: 0;
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
    outline: none;
    z-index: 1; }
    .com-form_text-input.error {
      color: #000; }
    .com-form_text-input[name="name"] {
      padding-right: 130px; }
  .com-form_text-input.not-empty + .com-form_placeholder {
    display: none; }
  .com-form_placeholder {
    font-size: 19px;
    font-size: 1.9rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    left: 0;
    white-space: nowrap;
    padding: 16px 0;
    color: #fff;
    margin: 0;
    z-index: 0;
    text-overflow: ellipsis;
    overflow: hidden; }
  .com-form_error {
    font-size: 16px;
    font-size: 1.6rem;
    display: none;
    position: absolute;
    left: 0;
    bottom: -24px;
    right: 0;
    margin: 0;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .com-form_text-input:focus {
    color: #fff; }
  .com-form_text-input:focus + .com-form_placeholder {
    display: none; }
  .com-form_text-input.error + .com-form_placeholder {
    color: #000; }
  .com-form_text-input.error ~ .com-form_error {
    display: block; }
  .com-form_beginner-checkbox {
    display: none; }
  .com-form_beginner-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transform: none;
    font-size: 16px;
    font-size: 1.6rem;
    position: absolute;
    right: 0;
    top: 0;
    border-width: 17px 0;
    border-style: solid;
    border-color: transparent;
    padding-left: 26px;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
    cursor: pointer; }
    .com-form_beginner-label:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 15px;
      height: 15px;
      border: 1px solid #fff; }
    .com-form_beginner-label:after {
      content: '';
      display: block;
      position: absolute;
      left: 2px;
      top: -19px;
      width: 32px;
      height: 43px;
      background: url("/img/sprite.png") no-repeat;
      background-position: 0 -16px;
      opacity: 0; }
  .com-form_beginner-checkbox:checked + .com-form_beginner-label:after {
    opacity: 1; }
  .com-form_bottom {
    margin: 60px 0 0;
    white-space: nowrap; }
  .com-form_send-request {
    font-size: 16px;
    font-size: 1.6rem;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 0;
    background-color: transparent;
    border: 1px solid #fff;
    text-transform: uppercase;
    outline: none;
    padding: 21px 33px;
    margin: 0;
    background-color: #fff;
    color: #7c93ac;
    line-height: 1;
    cursor: pointer; }
    @media all and (max-width: 460px) {
      .com-form_send-request {
        font-size: 14px;
        font-size: 1.4rem;
        padding: 18px 10px; } }
    .com-form_send-request:hover {
      color: #fff;
      border-color: #0083B3;
      background-color: #0083B3; }
  .com-form_title {
    font-size: 52px;
    font-size: 5.2rem;
    text-transform: uppercase;
    color: #fff;
    font-family: "ProximaNova-Bold";
    margin: 0 0 0;
    white-space: nowrap;
    line-height: 1; }
    @media all and (max-width: 460px) {
      .com-form_title {
        font-size: 37px;
        font-size: 3.7rem; } }
  .com-form_sub-title {
    font-size: 23px;
    font-size: 2.3rem;
    text-transform: uppercase;
    color: #fff;
    font-family: "ProximaNova-Bold";
    margin: 0 0 50px;
    white-space: nowrap;
    line-height: 1; }
    @media all and (max-width: 460px) {
      .com-form_sub-title {
        font-size: 16.5px;
        font-size: 1.65rem; } }
  .com-form_subscribe {
    position: absolute;
    right: 0;
    top: 23px;
    border: 0;
    outline: none;
    width: 24px;
    height: 15px;
    background: url("/img/sprite.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    z-index: 2; }

.made-by {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
  margin: 100px 0 60px;
  color: #fff; }
  .made-by img {
    position: relative;
    top: -4px;
    vertical-align: middle;
    margin-left: 2px; }

.aidem-logo {
  display: inline-block;
  position: relative;
  top: -3px;
  margin-left: 8px;
  width: 74px;
  vertical-align: middle; }

.switcher {
  position: fixed;
  right: 50px;
  top: 50%;
  margin-top: -62px;
  height: 124px;
  width: 50px; }
  .switcher_arrow {
    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    transition: background .5s ease;
    -webkit-border-radius: 51px;
    -moz-border-radius: 51px;
    border-radius: 51px;
    position: absolute;
    left: 0;
    width: 51px;
    height: 51px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer; }
    .switcher_arrow:hover {
      background-color: #fff; }
    .switcher_arrow:before {
      content: '';
      position: absolute;
      left: 14px;
      top: 19px;
      width: 23px;
      height: 11px;
      background: url("/img/sprite.png") no-repeat; }
    .switcher_arrow.prev {
      top: 0; }
      .switcher_arrow.prev:before {
        background-position: 0 -60px; }
    .switcher_arrow.next {
      bottom: 0; }
      .switcher_arrow.next:before {
        top: 21px;
        background-position: 0 -72px; }

.slide:nth-child(1).current ~ .switcher .prev,
.slide:nth-child(9).current ~ .switcher .next {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: default; }

.slide-8 .com-form_title {
  font-size: 49px;
  font-size: 4.9rem; }

.slide-8 .com-form_sub-title {
  font-size: 26px;
  font-size: 2.6rem; }

.slide-9 .com-form_title {
  font-size: 59px;
  font-size: 5.9rem; }

.slide-9 .com-form_sub-title {
  font-size: 23px;
  font-size: 2.3rem; }

.mobile html, .mobile.body {
  overflow: visible;
  height: auto;
  min-height: 0; }

.mobile.body {
  position: relative; }

.mobile .offer_inner {
  left: 50%;
  top: 100%;
  margin: -42px 0 0 -135px;
  opacity: 1; }

.mobile .comment {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  position: relative;
  left: 0;
  padding: 180px 0 50px;
  margin: 0;
  max-width: none;
  width: 100%;
  height: auto;
  background-color: #004763; }
  .mobile .comment:before {
    background-image: none; }
  .mobile .comment_inner {
    padding-bottom: 0;
    text-align: center;
    padding: 0 20px; }
  .mobile .comment_photo {
    display: none; }
  .mobile .comment_author {
    margin-top: 22px; }

.mobile .slide {
  -webkit-transform: translateY(0) !important;
  -moz-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  transform: translateY(0) !important;
  position: relative;
  min-height: 0;
  height: auto; }
  .mobile .slide_content {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
    position: relative;
    min-height: auto; }
  .mobile .slide-3 .slide_block,
  .mobile .slide-4 .slide_block,
  .mobile .slide-5 .slide_block,
  .mobile .slide-6 .slide_block {
    height: 80vw;
    min-height: 0; }
  .mobile .slide-2 .slide_block {
    height: 710px;
    min-height: 0; }
  .mobile .slide-7 .slide_block {
    height: 640px;
    min-height: 0; }
  .mobile .slide-8 .slide_block {
    height: 670px;
    min-height: 0; }
  .mobile .slide-9 .slide_block {
    height: 540px;
    min-height: 0; }

.mobile .how-it-will_list {
  margin-top: 2px; }
  .mobile .how-it-will_list:before {
    left: 0;
    margin-left: 0; }
  .mobile .how-it-will_list-item {
    margin: 0 0 2px !important;
    padding: 0 0 0 40px !important;
    text-align: left !important;
    width: 90%; }
    .mobile .how-it-will_list-item p {
      width: 100%; }

.mobile .scroll-block {
  position: relative;
  left: 0;
  right: 0;
  height: auto;
  overflow: auto;
  padding: 0; }

.mobile .how-it-will_list-item {
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  transform: translateX(0) !important;
  opacity: 1; }

.mobile .com-form_interest-label:hover {
  background-color: transparent;
  border-color: #fff; }

.mobile .more,
.mobile .switcher {
  display: none; }

.mobile .logo {
  position: absolute; }
