

html {
	font-size: $default_font_size + px;
	font-family: $ff_proxima;
}

.body {
	background-color: #005A7C;
	margin: 0;
	overflow: hidden;
}

.svg-blur { display: none; }

.scroll-block {
	@include backface-visibility;
	position: absolute;
	left: -30px;
	right: -30px;
	top: 0;
	bottom: 0;
	padding: 0 30px;
	overflow: overlay;
}

.slide {
	@include backface-visibility;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	opacity: 0;

	&_content {
		@include transition(#{transform 0.85s cubic-bezier(.38, .52, .32, 1)});
		@include transform(#{scale(.9)})
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	&_image {
		@include transition(#{transform 0s linear 1s});
		@include transform(#{translateX(-50%) scale(1)});
		position: absolute;
		left: 50%;
		top: 0;
		height: 100%;
	}

	&_bg {
		@include transform(#{scale(1.1)});
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		z-index: -1;
		-webkit-filter: blur(10px);
	       -moz-filter: blur(10px);
	    	    filter: blur(10px);
	    filter: url('blur.svg#blur');
	}

	&_content {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		min-height: 100vh;
		background-position: 50% 50%;
		background-size: auto 100%;
		background-repeat: no-repeat;
		z-index: 0;
	}

	&_inner {
		@include transform(#{translate(-50%, -50%)});
		@include box-sizing;
		position: absolute;
		left: 50%;
		top: 50%;
		width: 100%;
		border-width: 0 10px;
		border-style: solid;
		border-color: transparent;
		z-index: 2;
	}

	&_block {
		position: relative;
		min-height: 100vh;
		margin: 0 auto;
		padding: 0 10px;
		z-index: 3;
	}

	&_video {
		@include transform(#{translate(-50%, -50%)});
		position: absolute;
		left: 50%;
		top: 50%;
		min-width: 100%;
		min-height: 100vh;

		&-is-empty {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: url("/img/dummy.jpg") no-repeat;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 25%;
		}

		@media all and (max-width: 768px) { display: none; }
	}

	@for $i from 1 through 9 {
		&-#{$i} { height: 100%; }
	}

	&-1 {
		text-align: center;

		&_bg {
			background: -moz-linear-gradient(left,  rgba(8,80,120,.6) 0%, rgba(133,216,206,.6) 100%);
			background: -webkit-linear-gradient(left,  rgba(8,80,120,.6) 0%,rgba(133,216,206,.6) 100%);
			background: linear-gradient(to right,  rgba(8,80,120,.6) 0%,rgba(133,216,206,.6) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#085078', endColorstr='#85d8ce',GradientType=1 );
			z-index: 1;
		}

		@media all and (max-width: 768px) { background: url("/img/dummy.jpg") no-repeat 50% 50% / cover; }
	}

	@for $i from 2 through 9 {
		&-#{$i}_content, &-#{$i}_bg { background-image: url('/img/slide-#{$i}.jpg'); }
	}

	&.current,
	&.prev-page {
		@include transition(#{all 0.85s cubic-bezier(.38, .52, .32, 1)});
	}

	&.current {
		@include transform(#{translateY(0)});
		opacity: 1;

		& ~ .slide {
			opacity: 1;
		}
	}

	&.current .slide_content,
	&.current ~ .slide .slide_content {
		@include transform(#{scale(1)});
	}

	&.current ~ & { @include transform(#{translateY(100%)}); }

	&.current {
		.how-it-will {
			&_list-item {
				@include transform(#{translateX(0)});
				opacity: 1;

				@for $i from 0 through 4 {
					&:nth-child(#{$i+1}){
						-webkit-transition-delay: 0.4 + $i + s;
						   -moz-transition-delay: 0.4 + $i + s;
						        transition-delay: 0.4 + $i + s;
					}
				}
			}
		}

		// .comment {
		// 	@include transition(#{transform .4s ease 1s});
		// 	@include transform(#{translate(-50%, 0)});
		// }

		.offer {
			&_inner {
				@include transition(#{all .4s ease-out 1s});
				@include transform(#{scale(1)});
				opacity: 1;
			}
		}

		.slide-3 .slide_image,
		.slide-4 .slide_image,
		.slide-5 .slide_image,
		.slide-6 .slide_image, {
			@include transition(#{transform 20s linear});
			@include transform(#{translateX(-50%) scale(1.14)});
		}
	}
}

.logo {
	display: block;
	position: fixed;
	left: 50px;
	top: 50px;
	z-index: 1;

	@media all and (max-width: 768px) { display: none; }

	&__big {
		display: none;
		margin-bottom: 20px;

		img {
			max-width: 90%;
		}

		@media all and (max-width: 768px) { display: inline-block; }
	}
}

.more {
	@include font-size(14);
	@include border-radius(50px);
	position: fixed;
	right: 50px;
	top: 40px;
	background-color: #fff;
	border: 0;
	margin: 0;
	padding: 17px 40px 15px;
	text-transform: uppercase;
	color: #3782b0;
	cursor: pointer;
	outline: none;

	&:hover {
		background-color: rgba(255, 255, 255, .9);
	}
}

.description {
	@include font-size(32);
	line-height: 1.3;
	color: #fff;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;

	@media all and (max-width: 1100px) { @include font-size(26); }
	@media all and (max-width: 720px) { @include font-size(20); }
	@media all and (max-width: 540px) { @include font-size(18); }
}

.offer {
	position: relative;
	height: 0;

	&_inner {
		@include transition(#{all 0s ease 1s});
		@include transform(#{scale(.95)});
		position: absolute;
		right: 40px;
		bottom: 30px;
		width: 270px;
		height: 207px;
		z-index: 3;
		opacity: 0;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: url('/img/offer-brush.png') no-repeat;
			background-position: 50% 50%;
		}
	}

	&_wrapper {
		position: absolute;
		left: 50%;
		top: 0;
		width: 214px;
		height: 214px;
		margin-left: -107px;
		white-space: nowrap;
	}

	&_item {
		@include transition(#{all .4s ease});
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: 0;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
			line-height: 100%;
		}

		&-inner {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
			white-space: normal;
			text-align: center;
		}

		&.current {
			@include transition(#{all .4s ease .4s});
			opacity: 1;
		}
	}

	&_flag {
		margin: 0 0 16px;
		font-size: 0;
	}

	&_text {
		@include font-size(12);
		color: #fff;
		text-transform: uppercase;
		margin: 0 0 30px;
		line-height: 1.5;
	}

	&_arrow {
		position: absolute;
		width: 11px;
		height: 23px;
		top: 50%;
		margin: -11px 0 0;
		padding: 0;
		outline: none;
		border: none;
		cursor: pointer;
		background: url('/img/sprite.png') no-repeat;
		background-position: 0 -84px;

		&.prev {
			left: 0;
		}

		&.next {
			right: 0;
			background-position: -12px -84px;
		}
	}
}

.comment {
	// @include transition(#{transform 0s cubic-bezier(.5, -1, .5, 2) 1s});
	// @include transform(#{translate(-50%, 100%)});
	@include transform(#{translate(-50%, 0)});
	position: absolute;
	margin-left: -130px;
	bottom: 0;
	left: 50%;
	max-width: 770px;
	width: 90%;
	height: 82px;
	padding-top: 50px;

	&:before {
		content: '';
		position: absolute;
		left: 50%;
		top: 0;
		bottom: 0;
		margin-left: -435px;
		width: 870px;
		background: url('/img/comment-brush.png') no-repeat;
	}

	&_photo {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 170px;
		text-align: center;
		font-size: 0;

		@media all and (max-width: 460px) {
			display: none;
		}
	}

	&_inner {
		position: relative;
		color: #fff;
		padding: 0 0 23px 170px;

		@media all and (max-width: 460px) {
			padding-left: 0;
		}
	}

	&_text {
		@include font-size(16);
		margin: 0 0 3px;
		padding-right: 10px;

		@media all and (max-width: 460px) {
			padding-left: 10px;
		}
	}

	&_author {
		@include font-size(15);
		font-family: $ff_proxima_bold;
		margin: 5px 0 0;
		padding-right: 10px;
		color: #80aec6;

		@media all and (max-width: 460px) {
			padding-left: 10px;
		}
	}
}

.about {
	color: #fff;
	padding-top: 110px;
	max-width: 900px;
	margin: 0 auto;

	@media all and (max-width: 600px) {
		padding-top: 40px;
	}

	&_title {
		@include font-size(48);
		font-family: $ff_proxima_bold;
		margin: 0 0 40px;
		max-width: 900px;

		@media all and (max-width: #{$vw_mobile}) {
			@include font-size(42);
			text-align: center;
		}

		@media all and (max-width: 790px) {
			@include font-size(32);
		}

		@media all and (max-width: 620px) {
			@include font-size(24);
			margin: 0 0 20px;
		}
	}

	&_text-col {
		@include box-sizing;
		width: 100%;
		margin-bottom: 40px;

		@media all and (max-width: 600px) {
			margin-bottom: 20px;
		}
	}

	&_text {
		@include font-size(24);

		@media all and (max-width: #{$vw_mobile}) {
			@include font-size(20);
			text-align: center;
		}

		@media all and (max-width: 600px) {
			@include font-size(18);
		}
	}
}

.how-it-will {
	padding-top: 80px;
	color: #fff;
	max-width: 1100px;
	margin: 0 auto;

	&_title {
		@include font-size(72);
		font-family: $ff_proxima_bold;
		text-transform: uppercase;
		margin: 0 0 30px;
		text-align: center;
		white-space: nowrap;

		@media all and (max-width: 600px) {
			@include font-size(60);
		}

		@media all and (max-width: 500px) {
			@include font-size(40);
		}
	}

	&_list {
		@include font-size(24);
		@include clearfix;
		position: relative;
		list-style: none;
		padding: 18px 0;

		@media all and (max-width: 920px) {
			@include font-size(20);
		}

		@media all and (max-width: 600px) {
			@include font-size(16);
		}

		@media all and (max-width: 400px) {
			@include font-size(14);
		}

		&-item {
			@include transition(#{transform .6s ease-out .4s, opacity .6s ease-in .4s});
			@include box-sizing;
			display: block;
		    width: 50%;
			white-space: nowrap;
			height: 58px;
			opacity: 0;
			margin-top: 2px;

			&:nth-child(3){
				p { width: 400px; }
			}

			&:nth-child(2n-1){
				@include transform(#{translateX(-100px)});
				text-align: right;
				margin-right: 50%;
				padding-right: 40px;
			}

			&:nth-child(2n){
				@include transform(#{translateX(100px)});
				margin-left: 50%;
				padding-left: 40px;
			}

			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
				line-height: 100%;
			}
		}

		&-text {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			white-space: normal;
		}

		&:before {
			content: url("/img/how-it-will.png");
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -11px;
			width: 22px;
			height: 326px;
		}
	}
}

.com-form {
	@include transform(#{translate(-50%, -50%)});
	position: absolute;
	left: 50%;
	top: 50%;
	max-width: 400px;
	margin: 0 auto;
	padding: 40px 0;

	&_info {
		@include font-size(16);
		display: inline-block;
		vertical-align: middle;
		padding-left: 10px;
		color: #ceeeff;
		white-space: nowrap;

		@media all and (max-width: 460px) {
			@include font-size(14);
			line-height: 1.4;
		}

		@media all and (max-width: 340px) {
			@include font-size(16);
			padding: 10px 10px 0 0;
		}

		a {
			color: #ceeeff;
			text-decoration: none;
		}
	}

	&_inner {
		@include transition(#{all .3s ease-out});
		posiiton: relative;
		z-index: 1;
	}

	&_request {
		position: relative;

		&-sended {
			@include transition(#{all .3s ease-out .3s});
			@include transform(#{translateX(-50%) scale(0.9)});
			@include font-size(24);
			position: absolute;
			left: 50%;
	    	top: 0;
	    	bottom: 0;
	    	padding-top: 170px;
	    	color: #fff;
	    	text-align: center;
	    	line-height: 1.5;
			opacity: 0;
			white-space: nowrap;
			z-index: -1;

			&:after {
				content: '';
				position: absolute;
				width: 1100px;
				left: 50%;
				top: 0;
				bottom: 0;
				margin-left: -550px;
				background: url('/img/brush.png') no-repeat 50% 26%;
				z-index: -1;
			}

			@media all and (max-width: 630px) { @include font-size(18); }
			@media all and (max-width: 470px) { @include font-size(14); }

			@media all and (max-width: 380px) {
				white-space: normal;
				width: 280px;
			}
		}

		&.sended .com-form_inner {
			@include transform(#{scale(0.9)});
			opacity: 0;
			z-index: 0;
		}

		&.sended &-sended {
			@include transform(#{translateX(-50%) scale(1)});
			opacity: 1;
			z-index: 1;
		}
	}

	&_subscribe-form {
		position: relative;

		&-sended {
			@include transition(#{all .3s ease-out .3s});
			@include transform(#{translateX(-50%) scale(0.9)});
			@include font-size(24);
			position: absolute;
			width: 1100px;
	    	top: 0;
	    	bottom: 0;
	    	left: 50%;
	    	color: #fff;
	    	padding: 12px 20px 0;
	    	text-align: center;
	    	line-height: 1.5;
			opacity: 0;
			z-index: -1;

			@media all and (max-width: 650px) { @include font-size(18); }
			@media all and (max-width: 490px) {
				@include font-size(14);
				width: 280px;
			}
		}

		&.sended .com-form_inner {
			@include transform(#{scale(0.9)});
			opacity: 0;
			z-index: 0;
		}

		&.sended &-sended {
			@include transform(#{translateX(-50%) scale(1)});
			opacity: 1;
			z-index: 1;
		}
	}

	&_main-title {
		@include font-size(72);
		text-transform: uppercase;
		color: #fff;
		font-family: $ff_proxima_bold;
		margin: 0 0 30px;
		line-height: 1;
		white-space: nowrap;

		@media all and (max-width: 390px) {
			@include font-size(80);
			text-align: center;
		}
	}

	&_interest {
		&-list {
			@include clearfix;
			list-style: none;
			margin: -10px;
			padding: 0;

			@media all and (max-width: 460px) { width: 70%; }

			&-item {
				@include box-sizing;
				display: block;
				padding: 10px;
				float: left;

				@media all and (max-width: 360px) {
					width: 50%;
					text-align: center;
				}
			}
		}

		&-checkbox { display: none; }

		&-label {
			@include font-size(19);
			display: inline-block;
			position: relative;
			width: 82px;
			border: 1px solid #fff;
			color: #fff;
			text-align: center;
			font-family: $ff_proxima_bold;
			padding: 13px 0;
    		line-height: 1;
    		cursor: pointer;
    		z-index: 0;

    		&:before {
    			content: none;
    			position: absolute;
    			top: -18px;
    			left: -3px;
    			width: 85px;
    			height: 78px;
    			background: url('/img/sprite.png') no-repeat;
    			background-position: -34px 0;
    			z-index: -1;
    		}
		}

		&-label:hover {
			border-color: #3782b0;
			background-color: #3782b0;
		}

		&-checkbox:checked + &-label {
			border-color: transparent !important;
			background-color: transparent !important;

			&:before {
				content: '';
			}
		}
	}

	&_line {
		position: relative;
		margin-top: 30px;
	}

	&_text-input {
		@include border-radius(0);
		@include font-size(19);
		@include box-sizing;
		position: relative;
		padding: 16px 0;
		width: 100%;
		border: 0;
		background-color: transparent;
		color: #fff;
		border-bottom: 1px solid #fff;
		outline: none;
		z-index: 1;

		&.error { color: #000; }

		&[name="name"] {
			padding-right: 130px;
		}
	}

	&_text-input.not-empty + &_placeholder { display: none; }

	&_placeholder {
		@include font-size(19);
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		left: 0;
		white-space: nowrap;
		padding: 16px 0;
		color: #fff;
		margin: 0;
		z-index: 0;
	    text-overflow: ellipsis;
	    overflow: hidden;
	}

	&_error {
		@include font-size(16);
		display: none;
		position: absolute;
		left: 0;
		bottom: -24px;
		right: 0;
    	margin: 0;
		color: #000;
		white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
	}

	&_text-input:focus { color: #fff; }
	&_text-input:focus + &_placeholder { display: none; }
	&_text-input.error + &_placeholder { color: #000; }
	&_text-input.error ~ &_error { display: block; }

	&_beginner {
		&-checkbox { display: none; }

		&-label {
			@include user-select;
			@include font-size(16);
			position: absolute;
			right: 0;
			top: 0;
			border-width: 17px 0;
			border-style: solid;
			border-color: transparent;
			padding-left: 26px;
			color: #fff;
			text-transform: uppercase;
			z-index: 2;
			cursor: pointer;

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 15px;
				height: 15px;
				border: 1px solid #fff;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 2px;
				top: -19px;
				width: 32px;
				height: 43px;
				background: url('/img/sprite.png') no-repeat;
				background-position: 0 -16px;
				opacity: 0;
			}
		}

		&-checkbox:checked + &-label:after { opacity: 1; }
	}

	&_bottom {
		margin: 60px 0 0;
		white-space: nowrap;

		@media all and (max-width: 340px) {
			white-space: normal;
		}
	}

	&_send-request {
		@include font-size(16);
		display: inline-block;
		position: relative;
		vertical-align: middle;
		margin: 0;
		background-color: transparent;
		border: 1px solid #fff;
		text-transform: uppercase;
		outline: none;
		padding: 21px 33px;
		margin: 0;
		background-color: #fff;
		color: #7c93ac;
		line-height: 1;
		cursor: pointer;

		@media all and (max-width: 460px) {
			@include font-size(14);
			padding: 18px 10px;
		}

		&:hover {
			color: #fff;
			border-color: #0083B3;
			background-color: #0083B3;
		}
	}

	&_title {
		@include font-size(52);
		text-transform: uppercase;
		color: #fff;
		font-family: $ff_proxima_bold;
		margin: 0 0 0;
		white-space: nowrap;
		line-height: 1;

		@media all and (max-width: 460px) { @include font-size(37); }
	}

	&_sub-title {
		@include font-size(23);
		text-transform: uppercase;
		color: #fff;
		font-family: $ff_proxima_bold;
		margin: 0 0 50px;
		white-space: nowrap;
		line-height: 1;

		@media all and (max-width: 460px) { @include font-size(16.5); }
	}

	&_subscribe {
		position: absolute;
		right: 0;
		top: 23px;
		border: 0;
		outline: none;
		width: 24px;
		height: 15px;
		background: url('/img/sprite.png') no-repeat;
		background-position: 0 0;
		cursor: pointer;
		z-index: 2;
	}
}

.made-by {
	@include font-size(16);
	text-align: center;
	margin: 100px 0 60px;
	color: #fff;

	img {
		position: relative;
		top: -4px;
		vertical-align: middle;
		margin-left: 2px;
	}
}

.aidem-logo {
	display: inline-block;
	position: relative;
	top: -3px;
	margin-left: 8px;
	width: 74px;
	vertical-align: middle;
}

.switcher {
	position: fixed;
	right: 50px;
	top: 50%;
	margin-top: -62px;
	height: 124px;
	width: 50px;

	&_arrow {
		@include transition(#{background .5s ease});
		@include border-radius(51px);
		position: absolute;
		left: 0;
		width: 51px;
		height: 51px;
		background-color: rgba(255, 255, 255, .7);
		border: 0;
		margin: 0;
		padding: 0;
		outline: none;
		cursor: pointer;

		&:hover { background-color: #fff; }

		&:before {
			content: '';
			position: absolute;
			left: 14px;
			top: 19px;
			width: 23px;
			height: 11px;
			background: url('/img/sprite.png') no-repeat;
		}

		&.prev {
			top: 0;

			&:before {
				background-position: 0 -60px;
			}
		}

		&.next {
			bottom: 0;

			&:before {
				top: 21px;
				background-position: 0 -72px;
			}
		}
	}
}

.slide:nth-child(2).current ~ .switcher .prev,
.slide:nth-child(10).current ~ .switcher .next {
	background-color: rgba(255, 255, 255, .2);
	cursor: default;
}

.slide-8 {
	.com-form_title {
		@include font-size(49);

		@media all and (max-width: 480px) { @include font-size(36); }
	}
	.com-form_sub-title {
		@include font-size(26);

		@media all and (max-width: 480px) { @include font-size(19); }
	}
}

.slide-9 {
	.com-form_title {
		@include font-size(59);

		@media all and (max-width: 480px) { @include font-size(44); }
	}

	.com-form_sub-title {
		@include font-size(23);

		@media all and (max-width: 480px) { @include font-size(17); }
	}
}

.mobile {
	html, &.body {
		overflow: visible;
		height: auto;
		min-height: 0;
	}

	&.body {
		position: relative;
	}

	.offer {
		&_inner {
			left: 50%;
			top: 100%;
			margin: -42px 0 0 -135px;
			opacity: 1;
		}
	}

	.comment {
		@include transition(none);
		@include transform(#{none !important});
		position: relative;
		left: 0;
		padding: 180px 0 50px;
		margin: 0;
		max-width: none;
		width: 100%;
		height: auto;
		background-color: #004763;

		&:before { background-image: none; }

		&_inner {
			padding-bottom: 0;
			text-align: center;
			padding: 0 20px;
		}

		&_photo { display: none; }

		&_author { margin-top: 22px; }
	}

	.slide {
		@include transform(#{translateY(0) !important});
		position: relative;
		min-height: 0;
		height: auto;

		&_content {
			@include transition(none);
			@include transform(none);
			position: relative;
			min-height: 0;
		}

		&-3, &-4, &-5, &-6 {
			height: auto;

			.slide_content {
				font-size: 0;
			}

			.slide_bg,
			.slide_block {
				display: none;
			}

			.slide_image {
				display: block;
				position: relative;
				width: 160%;
				height: auto !important;
			}
		}

		&-2 .slide_block{
			height: 710px;
    		min-height: 0;
		}

		&-7 .slide_block {
			height: 640px;
    		min-height: 0;
		}

		&-8 .slide_block {
			height: 760px;
    		min-height: 0;
		}

		&-9 .slide_block {
			height: 490px;
    		min-height: 0;
		}
	}

	.how-it-will {
		&_list {
			margin-top: 2px;

			&:before {
				left: 0;
				margin-left: 0;
			}

			&-item {
				margin: 0 0 2px !important;
				padding: 0 0 0 40px !important;
				text-align: left !important;
				width: 90%;

				p { width: 100%; }
			}
		}
	}

	.scroll-block {
		position: relative;
		left: 0;
		right: 0;
		height: auto;
		overflow: auto;
		padding: 0;
	}

	.how-it-will_list-item {
		@include transform(#{translateX(0) !important});
		opacity: 1;
	}

	.com-form_interest-label:hover {
		background-color: transparent;
		border-color: #fff;
	}

	.more,
	.switcher {
		display: none;
	}

	.logo {
		position: absolute;
	}
}

@media all and (max-width: 1024px) {
	html, &.body {
		overflow: visible;
		height: auto;
		min-height: 0;
	}

	&.body {
		position: relative;
	}

	.offer {
		&_inner {
			left: 50%;
			top: 100%;
			margin: -42px 0 0 -135px;
			opacity: 1;
		}
	}

	.comment {
		@include transition(none);
		@include transform(#{none !important});
		position: relative;
		left: 0;
		padding: 180px 0 50px;
		margin: 0;
		max-width: none;
		width: 100%;
		height: auto;
		background-color: #004763;

		&:before { background-image: none; }

		&_inner {
			padding-bottom: 0;
			text-align: center;
			padding: 0 20px;
		}

		&_photo { display: none; }

		&_author { margin-top: 22px; }
	}

	.slide {
		@include transform(#{translateY(0) !important});
		position: relative;
		min-height: 0;
		height: auto;

		&_content {
			@include transition(none);
			@include transform(none);
			position: relative;
			min-height: 0;
		}

		&-3, &-4, &-5, &-6 {
			height: auto;

			.slide_content {
				font-size: 0;
			}

			.slide_bg,
			.slide_block {
				display: none;
			}

			.slide_image {
				display: block;
				position: relative;
				width: 160%;
				height: auto !important;
			}
		}

		&-2 .slide_block{
			height: 710px;
    		min-height: 0;
		}

		&-7 .slide_block {
			height: 640px;
    		min-height: 0;
		}

		&-8 .slide_block {
			height: 670px;
    		min-height: 0;
		}

		&-9 .slide_block {
			height: 540px;
    		min-height: 0;
		}
	}

	.how-it-will {
		&_list {
			margin-top: 2px;

			&:before {
				left: 0;
				margin-left: 0;
			}

			&-item {
				margin: 0 0 2px !important;
				padding: 0 0 0 40px !important;
				text-align: left !important;
				width: 90%;

				p { width: 100%; }
			}
		}
	}

	.scroll-block {
		position: relative;
		left: 0;
		right: 0;
		height: auto;
		overflow: auto;
		padding: 0;
	}

	.how-it-will_list-item {
		@include transform(#{translateX(0) !important});
		opacity: 1;
	}

	.com-form_interest-label:hover {
		background-color: transparent;
		border-color: #fff;
	}

	.more,
	.switcher {
		display: none;
	}

	.logo {
		position: absolute;
	}
}